::selection {
    color: #ffffff;
    background: #f85b17;
}

::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #f85b17;
}

body, *, *:before, *:after{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 0 0 0;
}

.top-orange-color{
    background-color: #f85b17;
    width: 100%;
    height: 40px;
    margin: 0 0 0 0;
}

.white-text{
    padding: 0.6rem;
    float: right;
    color: white;

}

    .call{
        margin: 0 30rem 0 0;
    }

    .vertical-bar{
        border-left: 1px solid white;
        margin: 0 0 0 0;
        height: 30%;
        
    }

.stamina-logo{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    float: left;
    margin-left: 14rem;
    margin-top: 2rem;
}
    #dot-color{
        color: #f85b17;
    }

.page-header nav{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.page-header nav li{
    display: inline;
    margin-right: 3rem;

}

.page-header nav li a{
    color: black; 
}

nav{
    float: left;
    margin-left: 20rem;
    margin-top: 1.5rem;
}

a{
    text-decoration: none;
}

a:active{
    color: #f85b17;
}

.black-rectangle{
    width: 100%;
    background: radial-gradient(#24211f,#241c19,#2d2522);
    position: absolute;
    top: 8rem;
    height: 95%;
}

    .capitalize-arial{
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: 'Arial', sans-serif;
        line-height: 1.5;

    }
    span >a{
        color: #f85b17;

    }

    .Free-html5{
        font-family: 'Didact Gothic', sans-serif;
        font-weight: bold;
        color: white;
        line-height: 3;

    }
    .centralize-text{
        text-align: center;
        margin: 16%; 
    }

    .centre{
        text-align: center;
    }

    .button{
        width: 150px;
        background-color: #f85b17;
        padding: 1rem 1rem;
        color: white;
        border-radius: 24px;
        border: #f85b17;
        margin-top: 2rem;
        font-size: 0.9rem;
        
    }

    .grey-rectangle{
        width: 100%;
        background-color: #f2f2f2;
        position: absolute;
        top:100%;
        height: 50%;
    }

        .box-article{
            background-color: #ffffff;
            width: 23%;
            height: 100%;
            margin-top: -5rem;
            margin-left: 10rem;
            float: left;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-right: -100px;
            
        }
            .box-article img{
                margin-top: 2rem;
            }
            .box-article h4{
                font-family: 'Advent Pro', sans-serif;
                font-size: 1.3rem;
                color: #686868;
                letter-spacing: 2.5px;
                margin-bottom: 0.2rem;
                margin-right: 2rem;
                text-transform: uppercase;
            }

            .box-article hr{
                width: 2.5rem;
                border-color: #f85b17;
            }

            .box-article p{
                font-family: 'Song Myung', serif;
                font-size: 1.3rem;
                letter-spacing: 2px;
                color: #8c8c8c;
            }

            .box-article .border-button{
                width: 7rem;
                border: 1px solid #f85b17;
                border-radius: 24px;
                font-family: Arial, Helvetica, sans-serif;
                color: #f85b17;
                margin-left: 8rem;
                margin-right: 8rem;
                cursor: pointer;
                height: 2.5rem;
            }

            .border-button:hover{
                background-color: #f85b17;
                color: #ffffff;
            }

    .expert-Fitness{
        margin-top: 85%;
    }

        .expert-Fitness h3{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.7rem;
            text-transform: uppercase;

        }

        .expert-Fitness hr{
            width: 3.3rem;
            border-color: #f85b17;

        }

        .expert-Fitness p{
            font-family: 'Arial', serif;
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: #8c8c8c;
            width: 60%;
            margin-right: 20rem;
            margin-left: 20rem;
        }
   
        .all-in-one-box{
             margin-left: 10rem;
            margin-top: 7rem;
        }
    
            .vertical-box{
                width: 21%;
                height: 25rem;
                background-color: #24211f;

            }

            .vertical-grey-box{
                width: 28.2%;
                height: 3.7rem;
                background-color: #adaaaa;
                margin-top: -15.6rem;
                margin-left: 4.5rem;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Arial', serif;
           
            }

            .vertical-grey-box h4{
                font-weight: 100; 
            }

            .vertical-grey-box p{
                color: #686868;
            }



            .horizontal-white-box{
                width: 13%;
                height: 3rem;
                background-color: #ffffff;
                margin-top: 7.6rem;
                letter-spacing: 0.5rem;
                line-height: 2rem;
            }

        .rotation{
        transform: rotate(-90deg);
        letter-spacing: 0.6rem;    
    }

.class-schedule{
    width: 100%;
    height: 80rem;
    background-color: #2d2522;
}
    .class-schedule h4{
        text-transform: uppercase;
        font-size: 2rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-weight: 50;
        color: #f2f2f2;
    }

    .class-schedule h4 hr{
        border-color: #f85b17;
        width: 5rem;
       
    }

        .schedule-table{
            margin-left: 20rem;
            margin-right: 15rem;
            width: 60rem;
            border: 1px solid #686868;
        }
        .schedule-table th{
            height: 3rem;
            border-radius: 10%;
        }
            .schedule-table th a{
                color: #ffffff;
                font-family: 'Arimo', sans-serif;
                font-weight: 100;
                margin-top: 5rem;  
            }
            
        td{
            text-align: center;
        }
        
            .activities-record{
                color: #f2f2f2; 
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: bold;
                margin-top: 2rem;

            } 
                .schedule-table img{
                    margin-top: 2rem;
                }

                .activities-record h5{
                    margin-top: 3rem;
                }
            
            .schedule-table .table-record p{
                color: #686868;
                font-family: 'Archivo Black', sans-serif;
                margin-top: 3rem;
            }
                
                

        #button-header{
            background-color: #000000;
            border: #000000;
            width: 60rem;
            height: 3rem;
            margin: 0 20rem;
            border-radius: 5px;   
            
        }
         
        #button-header button{
            background-color: #000000;
            border: #000000;
            color: #ffffff;
            font-size: 1rem;
            width: 6rem;
            margin: 1rem 0 2rem 2rem;
            height: 2rem;

        }
        
        button:active{
            background-color: #f85b17;
        }


        table, th, td{
            border: 0.5px solid #ece9e9;
            border-collapse: collapse;
            
        }
    

   /***Pricing Plan****/
.price-plan h2{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.price-plan hr{
    border-color: #f85b17;
    width: 5rem;
}
.price-plan p{
    width: 45rem;
    font-size: 1.3rem;
    margin-left: 20%;
    margin-right: 20%;
    color: #adaaaa;
    line-height: 2rem;
}

.box-arrangement{
   margin: -5rem 10rem 15rem 10rem;

   
}
    .price-box{
        background-color: #e7e7e7;
        width: 17rem;
        height: 35rem;
        display: inline-block;
        margin-left: 2rem;
        
    }

    /***button****/

    .anchor-button{
        background-color: rgb(90, 152, 202);
        width: 7rem;
        text-align: center;
        height: 2.5rem;
        margin: 2rem 5rem;
        color: #ffffff;
        border-radius: 15px;
    }

    .orange-anchor-button{
        background-color: #f85b17;
        width: 7rem;
        text-align: center;
        height: 2.5rem;
        margin: 2rem 5rem;
        color: #ffffff;
        border-radius: 15px;
        
    }

    .color-number-enlange{
        color: #f85b17;
    }

    #best-offer{
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: #8c8c8c;
        font-family: 'Arial', sans-serif;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: -2rem;

    }

    .price-padding{
        padding-top: 1rem;
    }

.text-transform{
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color: #686868;
}

.letter-transform{
    text-transform: uppercase;
}
.number-enlange{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin-top: -3.2rem;
    margin-left: 2rem;


}


.currency{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 6rem;
}

.color-currency{
    color: #f85b17;
}

.month{
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #686868;
}

.combine-activities{
    text-align: center;
    line-height: 2.5rem;
    color: #686868;
    font-family: 'Arial', sans-serif;
}

.background-grey{
    background-color: #d4d1d1;
    width: 12rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}



.gallery-box{
    width: 23rem;
    height: 24rem;
    background: #000000;
    margin-left: 1rem;
    margin-bottom: 2rem;
    display: inline-block;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, black, white);
    font-family: 'Arial', sans-serif;
    font-weight: bolder;

}

.large-gallery-box{
    width: 47.4rem;
    height: 24rem;
    background: #000000;
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
    display: inline-block;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, black, white);
}

.text-box{
    margin: 15rem 20rem 1rem 3rem;
    color: #ffffff;
    width: 15rem;
}

.gallery-box h2{
    color:  #ffffff;
    margin-left: 3rem;
    font-size: 1.8rem;
 }

 .large-gallery-box h2{
    color:  #ffffff;
    margin-left: 3rem;
    font-size: 1.8rem; 
 }

 /*Round shape*/
 .round-shape{
     width: 7rem;
     height: 7rem;
     background-color: #635854;
     margin-right: 46%;
     margin-left: 46%;
     margin-top: 5rem;
     margin-bottom: 1rem;
     border-radius: 4rem;
 }

.fitness-classes-this-summer{
     width: 100%;
     height: 23rem;
     background-color: #181514;
     margin-bottom: 2rem;

 }

 .discount-text{
     text-align: center;
     padding-top: 60px;
     
     
 }

    .discount-text h1{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }

    .discount-text h2{
        color: #8d8787;
        font-family: 'Montserrat', sans-serif;
        
    }

        .discount-text h2 span{
        color: #f85b17;
        }

    .become-a-memeber-button{
        width: 18rem;
        height: 4rem;
        background-color: #f85b17;
        color: #ffffff;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 3rem;
        padding-top: 1.2rem;
        margin-left: 40rem;
    }


/***use of Ribbon***/
.three-sqare-box{

    margin-left: 20rem;
    margin-top: -4rem; 
}

    .three-sqare-box h3{
        font-family: 'Montserrat', sans-serif
    }

    .ribbon{ 
        width: 10rem;
        height: 2.6rem;
        border: 2px solid #f85b17;
        border-bottom-right-radius: 25px;
        background-color: #f85b17;
        color: #ffffff;
        font-size: 1.5rem;
    }

    .padding-left{
        padding-left: 2rem;
        font-family: 'Open Sans', sans-serif;
    }

        .sqare-box-with-ribbon p{
            width: 17.5rem;
            line-height: 1.7;
        }  

        .ribbon-button{
            width: 8rem;
            background-color: #f85b17;
            color: #ffffff;
            height: 2.7rem;
            text-align: center;
            padding-top: 0.8rem;
            font-family: 'Open Sans', sans-serif;
            margin-left: 5rem;
            margin-top: 3rem;
            border-radius: 20px;
        }

        

       /* .ribbon span{
            padding-left: 2rem;
        }*/

    .sqare-box-with-ribbon{
        width: 18rem;
        height: 27rem;
        background-color: #ffffff;
        margin-left: 2rem; 
        margin-top: -8rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: inline-block;
    }

.footer{
    width: 100%;
    height: 38rem;
    background-color: #000000;
    margin-top: 10rem;


}



.all-footer-column{
    padding-left: 10rem;
    padding-top: 10rem;
}

     

.footer-column{
    padding-right: 7rem; 
    padding-left: 2rem;
    display: inline-block;
}

    .header{
        font-family: 'Archivo Black', sans-serif;
        color: #ece9e9;
    }

    .footer-column p{
        font-family: 'Open Sans', sans-serif;
        color: #adaaaa;
        width: 22rem;
        line-height: 1.6;
    } 

    .footer-column ul{
        font-family: 'Open Sans', sans-serif;
        width: 5rem;
        line-height: 1.6;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    

    .footer-column li a{
        display: block;
        color: #adaaaa;
    }

    .footer-column li a:hover{
        text-decoration: underline;
    }

    .become-a-memeber-button2{
        width: 12rem;
        height: 2.5rem;
        background-color: #fc5711;
        color: #ffffff;
        text-align: center;
        font-size: 1.1rem;
        border-radius: 3rem;
        padding-top: 0.5rem;
        margin-top: 1rem;
        font-family: 'Montserrat', sans-serif
    }


    .footer-small-text{
        font-size: 0.9rem;
        color: #adaaaa;
        padding-top: 5rem;
        width: 22rem;
        text-align: center;
        margin-left: 40rem;
        line-height: 1.6;
        font-family: 'Open Sans', sans-serif;
    }

        .footer-small-text a{
            color: #f85b17;
        }


.space-between-symbols{
    color: #f85b17;
    font-size: 1.2rem;
    letter-spacing: 0.7rem;
    margin-left: 45rem;
    padding-top: 2rem;
}




          




